# Ignore local Python virtual environment
/easy-q_env/

# Ignore experiment output folders
quantum_optimization/experiments_automation/exp_*/

# Ignore delme folders
delme*/

# UV project files
uv.lock
pyproject.toml
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
